<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          {% block title %} Welcome {% endblock %}
        </title>
        {% block stylesheets %}

          <!-- Vendors -->
          <link href="{{asset('css/vendor/bootstrap.min.css')}}" rel="stylesheet">
          <link href="{{asset('css/vendor/fontawesome.min.css')}}" rel="stylesheet">
          <link href="{{asset('css/thumb.css')}}" rel="stylesheet">

          <link href="{{asset('css/vendor/animate.css')}}" rel="stylesheet">
          <link href="{{asset('css/vendor/magnific-popup.css')}}" rel="stylesheet">
          <link href="{{asset('css/vendor/owl.carousel.css')}}" rel="stylesheet">
          <link href="{{asset('css/vendor/owl.theme.default.css')}}" rel="stylesheet">
          <link href="{{asset('css/video.css')}}" rel="stylesheet">
          <link href="{{asset('css/vendor/pe-icon-7-stroke.css')}}" rel="stylesheet">
          <!-- Custumable -->
          <link href="{{ asset('css/style.css')}}" rel="stylesheet">
          <link href="{{ asset('css/theme-color.css')}}" rel="stylesheet">
          <link href="{{ asset('css/vendore.bundle.css')}}" rel="stylesheet">
          <!-- javascript -->
          <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js">

          </script>
        {% endblock %}
    </head>
    <body>



        <header class="site-header header-s1 is-sticky">

          {% block navbar %}
            <!-- Navbar -->
            <div class="navbar navbar-primary">
              <div class="container relative">
                <!-- Logo -->
                <a class="navbar-brand" href="index.html">
                  <img class="logo logo-dark" alt="logo" src="/images/logo.png">
                  <img class="logo logo-light" alt="logo" src="/images/logo.png">
                </a>
                <!-- #end Logo -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="quote-btn"><a class="btn" href="contact.html"><span>get started</span></a></div>
                </div>
                <!-- MainNav -->
                <nav class="navbar-collapse collapse" id="mainnav">
                  <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" class="dropdown-toggle">Home <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="index.html">Home - Default</a></li>
                        <li><a href="index-wallet.html">Home - Wallet</a></li>
                        <li><a href="index-mining.html">Home - Mining</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle">Pages <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">About Pages</a>
                          <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="teams.html">Teams</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Service Pages</a>
                          <ul class="dropdown-menu">
                            <li><a href="service.html">Service List</a></li>
                            <li><a href="service-single.html">Service Single</a></li>
                          </ul>
                        </li>
                        <li><a href="#">BitCoin Pages</a>
                          <ul class="dropdown-menu">
                            <li><a href="work-process.html">How it Works</a></li>
                            <li><a href="buy-sell.html">Buy &amp; Sell</a></li>
                            <li><a href="wallet-features.html">Wallet Features</a></li>
                            <li><a href="market-data.html">Market Data</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Blog Pages</a>
                          <ul class="dropdown-menu">
                            <li><a href="blog.html">Blog List</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Miscellaneous Pages</a>
                          <ul class="dropdown-menu">
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="signup.html">Sign In/Sign Up</a></li>
                            <li><a href="faqs.html">Faq/Support</a></li>
                            <li><a href="contact.html">Contact</a></li>
                          </ul>
                        </li>
                        <li><a href="typography.html">Typography</a></li>
                      </ul>
                    </li>
                    <li><a href="buy-sell.html">buy &amp; Sell</a></li>
                    <li><a href="wallet-features.html">wallet</a></li>
                    <li><a href="market-data.html">Market data</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="quote-btn hidden-xs hidden-sm"><a class="btn" href="contact.html">get started</a></li>
                  </ul>
                </nav>
                <!-- #end MainNav -->
              </div>
            </div>
          {% endblock %}

        </header>



      {% block body %}

      {% endblock %}


        {% block footer  %}
            <!-- Copyright -->
            <div class="copyright light">
              <div class="container">
                <div class="row">
                  <div class="site-copy col-sm-7">
                    <p>Copyright &copy; 2018 Template Made by me</p>
                  </div>
                  <div class="col-sm-5 text-right mobile-left">
                    <ul class="social">
                      <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                      <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                      <li><a href="#"><em class="fa fa-linkedin"></em></a></li>
                      <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Copyright -->
        {% endblock %}


        {% block javascripts %}
        <!-- Javascripts -->
        <script src="/js/jquery.bundle.js"></script>
        <script src="/js/script.js"></script>
    		<script>
    		  (function(b,i,t,C,O,I,N) {
    			window.addEventListener('load',function() {
    			  if(b.getElementById(C))return;
    			  I=b.createElement(i),N=b.getElementsByTagName(i)[0];
    			  I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    			},false)
    		  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
    		</script>
        {% endblock %}
    </body>
</html>
